body {
    background-color: black;
    margin: 0;
    display: grid;
}

header {
    margin: 0;
    .poster {
        position: relative;
        max-width: 100%;
    }
    .navicon {
        position: absolute;
        top: 2rem;
        left: 2rem;
        z-index: 1;
    }
}

main {
    background-color: black;
    color: white;
    padding: 5rem 7rem;
    display: grid;
    gap: 1rem;
    .cards {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;
        justify-items: center;
        gap: 0 1rem;
        input {
            background-color: red;
            color: white;
            width: 10rem;
            height: 2rem;
        }
    }
    section {
        background-color: white;
        color: black;
        width: 300px;
        display: grid;
        img {
            width: 300px;
        }
    }
    input {
        background-color: red;
        color: white;
        width: 10rem;
        height: 2rem;
    }
}

thead {
    background-color: #411;
    color: lightgrey;
    font-size: small;
}

tfoot {
    margin-top: 1rem;
    border-top: 1px solid grey;
}

table {
    border-collapse: collapse;
    width: 600px;
}

td {
    height: 2rem;
}

footer {
    background-color: #444;
    color: white;
    font-size: small;
    padding: 2rem 0 4rem 0;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    a {
        color: white;
        text-decoration: none;
    }
    > div {
        display: flex;
        flex-direction: column;
    }
}
