body {
    background-color: blue;
    margin: 0;
}

.top {
    display: flex;
    flex-direction: column;
}

header {
    margin: 0;
    .poster {
        position: relative;
        max-width: 100%;
        max-height: 70rem;
    }
    .navicon {
        position: absolute;
        top: 2rem;
        left: 2rem;
        z-index: 1;
    }
}

main {
    background-color: black;
    flex: 1;
}

footer {
    background-color: grey;
    flex: 1;
}