body {
    background-color: black;
    margin: 0;
    display: grid;
}

header {
    margin: 0;
    .poster {
        position: relative;
        max-width: 100%;
    }
    
    .navicon {
        position: absolute;
        top: 2rem;
        left: 2rem;
        z-index: 1;
    }
}

main {
    background-color: black;
    color: white;
    padding: 3rem 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-auto-flow: row;
    justify-content: space-evenly;
    gap: 5rem 0;
    section {
        width: 200px;
        margin: 0 1rem;
        font-size: small;
        display: grid;
        img {
            width: 200px;
        }
    }
    input {
        background-color: red;
        color: white;
        width: 5rem;
    }
    .cardlarge {
        background-color: white;
        color: black;
        width: 300px;
        img {
            width: 300px;
        }
    }
}

footer {
    background-color: #444;
    color: white;
    font-size: small;
    padding: 2rem 0 4rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    a {
        color: white;
        text-decoration: none;
    }
    > div {
        display: grid;
    }
}